.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%
}

@media only screen and (max-width:768px) {
  .row {
    display: block
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html {
  color: #2c2a29;
  font-family: gibson-regular, Arial, sans-serif;
  font-size: 18px
}

body,
html {
  height: 100vh;
  background-color: #F9FBFD;
  background-attachment: fixed;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none
}

::selection {
  background: #b3d4fc;
  text-shadow: none
}

button {
  border: 0;
  background: 0 0;
  -webkit-tap-highlight-color: transparent
}

button:focus {
  outline: 0
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: .3em;
  font-family: gibson-semibold, Arial, sans-serif;
  line-height: 1.25;
  color: #0a2240
}

h1 {
  font-size: 1.77778rem
}

h2 {
  font-size: 1.22222rem
}

h3,
h4 {
  font-size: 1rem
}

h5,
p {
  font-size: .88889rem
}

p {
  color: #2c2a29;
  font-family: gibson-regular, Arial, sans-serif;
  line-height: 1.5
}

a {
  color: #0077d9;
  font-family: gibson-semibold, Arial, sans-serif;
  text-decoration: none;
  -webkit-transition: color .1s;
  transition: color .1s;
  -webkit-tap-highlight-color: transparent
}

a:hover {
  color: #0093cb;
  text-decoration: underline
}

a:focus {
  outline: 0
}

h1 span {
  display: inline;
  color: #d22d27
}

@media only screen and (min-width:768px) {
  h1 {
    font-size: 2.22222rem
  }
  h2 {
    font-size: 1.55556rem
  }
  h3 {
    font-size: 1.22222rem
  }
}

@media only screen and (min-width:992px) {
  h1 {
    font-size: 2.66667rem
  }
  h2 {
    font-size: 1.77778rem
  }
  h3 {
    font-size: 1.55556rem
  }
  h4 {
    font-size: 1.22222rem
  }
  h5 {
    font-size: 1.11111rem
  }
}

@media only screen and (min-width:1200px) {
  h1 {
    font-size: 3.11111rem
  }
  h2 {
    font-size: 2.22222rem
  }
  h3 {
    font-size: 1.77778rem
  }
}

@media only screen and (min-width:1400px) {
  h1 {
    font-size: 3.33333rem
  }
  h2 {
    font-size: 2.66667rem
  }
  h3 {
    font-size: 2.22222rem
  }
  h4 {
    font-size: 1.55556rem
  }
  h5 {
    font-size: 1.33333rem
  }
}

.radio {
  position: relative;
  margin-bottom: 20px
}

.radio__label {
  display: inline-block;
  position: relative;
  padding-left: 34px;
  color: #0a2240;
  font-size: .88889rem;
  line-height: 27px;
  cursor: pointer
}

.radio__input:checked,
.radio__input:not(:checked) {
  position: absolute;
  left: -9999px
}

.radio__input:checked+label:before,
.radio__input:not(:checked)+label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #b0b7bf;
  border-radius: 100%;
  background: #fff;
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .25);
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .25)
}

.radio__input:checked+label:after,
.radio__input:not(:checked)+label:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: #d22d27;
  -webkit-transition: all .1s ease;
  transition: all .1s ease
}

.radio__input:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0)
}

.radio__input:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1)
}

.checkbox {
  margin-bottom: 15px
}

.checkbox__label {
  display: inline-block;
  position: relative;
  padding-left: 34px;
  color: #0a2240;
  font-size: .88889rem;
  line-height: 27px;
  cursor: pointer
}

.checkbox__input:checked,
.checkbox__input:not(:checked) {
  position: absolute;
  left: -9999px
}

.checkbox__input:checked+label:before,
.checkbox__input:not(:checked)+label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  border: 1px solid #b0b7bf;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .25);
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .25)
}

.checkbox__input:checked+label:after,
.checkbox__input:not(:checked)+label:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 4px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
  -webkit-transition: all .1s;
  transition: all .1s
}

.checkbox__input:not(:checked)+label:after {
  top: 12px;
  left: 4px;
  opacity: 0;
  width: 0;
  height: 5px
}

.checkbox__input:checked+label:after {
  top: 6px;
  left: 4px;
  opacity: 1;
  width: 14px;
  height: 5px
}

.checkbox__input:checked+label:before {
  border: 1px solid #d22d27;
  background-color: #d22d27;
  -webkit-box-shadow: inset 0 1px 2px 0 transparent;
  box-shadow: inset 0 1px 2px 0 transparent
}

.checkbox__input:disabled:checked+label:before,
.checkbox__input:disabled:not(:checked)+label:before {
  border-color: #ccc;
  background-color: #eee;
  -webkit-box-shadow: none;
  box-shadow: none
}

.checkbox__input:disabled:checked+label:after {
  color: #999
}

.checkbox__input:disabled+label {
  color: #aaa
}

.custom-range__label {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-bottom: 14px;
  color: #0a2240;
  font-size: 1rem
}

.custom-range__wrapper {
  margin-bottom: 40px
}

.custom-range {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  max-width: 100%;
  height: 32px
}

.custom-range__number {
  width: 75px;
  height: 50px;
  text-align: center;
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .25);
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .25)
}

.custom-range__bar {
  position: relative;
  width: 100%;
  height: 8px;
  margin-top: 13px;
  border-radius: 5px;
  background-color: #eaeaea
}

.custom-range__value {
  width: 0;
  max-width: 100%!important;
  height: 8px;
  border-radius: 5px;
  background-color: #d22d27
}

.custom-range__slider {
  position: absolute;
  top: -13px;
  left: -16px;
  z-index: 1;
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 16px;
  background-color: #d22d27;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
  -webkit-transition: background-color .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, box-shadow .3s;
  transition: background-color .3s, box-shadow .3s, -webkit-box-shadow .3s
}

.custom-range__slider:focus {
  background-color: #d22d27;
  outline: 0
}

.custom-range__slider:hover {
  background-color: #e2362f;
  -webkit-box-shadow: 0 0 6px 0 #fd423b;
  box-shadow: 0 0 6px 0 #fd423b
}

.icon__info {
  background-image: url(../img/icon-info.svg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin-left: 5px;
  padding: 1px;
  border-radius: 9px;
  background-color: #fff;
  color: #fff;
  font-family: arial;
  font-size: .81rem;
  font-weight: 900;
  text-align: center;
  cursor: pointer
}

.form {
  width: 90vw;
  max-width: 515px;
  margin: 0 auto;
  background: #fff;
  padding: 35px 15px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
  border: 1px solid #eaeaea;
  border-radius: 5px
}

.form div,
.form h2 {
  width: 95%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto
}

.form div:not(:nth-last-of-type(2)) {
  margin-bottom: 20px
}

.form div:nth-last-of-type(2) {
  margin-bottom: 30px
}

.form h2 {
  position: relative
}

.form h2:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  margin: 8px 0 25px;
  border-top: 3px solid #edeef0
}

.form label {
  margin-bottom: 7px;
  color: #0a2240;
  font-size: .88889rem
}

.form input[name*=comment] {
  opacity: 0;
  height: 0
}

.form button {
  display: block;
  width: 95%;
  max-width: 450px;
  margin: 0 auto;
  font-size: 1.22222rem
}

@media (min-width:375px) {
  .form {
    padding: 35px 25px
  }
}

@media (min-width:600px) {
  .form {
    max-width: 550px
  }
  .form h2 {
    font-size: 1.55556rem
  }
}

@media (min-width:991px) {
  .form h2 {
    margin-left: auto;
    margin-right: auto
  }
  .form h2,
  .form h2:after,
  .form label {
    max-width: 400px
  }
  .form label {
    margin-left: auto;
    margin-right: auto
  }
}

@media (min-width:1200px) {
  .form div {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
  }
  .form h2,
  .form h2:after {
    max-width: 450px
  }
  .form div input,
  .form div label {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto
  }
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0
}

a:hover {
  color: #0077d9;
  text-decoration: none
}

.no-wrap {
  white-space: nowrap
}

.light {
  font-weight: 300
}

.regular {
  font-weight: 400
}

b,
strong {
  font-weight: 700
}

.content {
  width: 100%
}

.eyebrow {
  display: inline-block;
  color: #d22d27;
  font: .88889rem gibson-semibold, Arial, sans-serif;
  text-transform: uppercase
}

@media (min-width:1200px) {
  .content {
    max-width: 1127px;
    margin-left: auto;
    margin-right: auto
  }
  .content:after {
    content: " ";
    display: block;
    clear: both
  }
}

@media (max-width:1199px) {
  .content {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto
  }
  .content:after {
    content: " ";
    display: block;
    clear: both
  }
}

@media (max-width:991px) {
  .content {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto
  }
  .content:after {
    content: " ";
    display: block;
    clear: both
  }
}

@media (max-width:767px) {
  .content {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px
  }
  .content:after {
    content: " ";
    display: block;
    clear: both
  }
}

.content {
  position: relative
}

.content:after {
  content: "";
  display: block;
  clear: both
}

@media (min-width:1200px) {
  .content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 55px 50px
  }
}

@media (max-width:1199px) {
  .content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 55px 33px
  }
}

@media (max-width:991px) {
  .content {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 20px
  }
}

@media (max-width:767px) {
  .content {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 10px
  }
}

[data-theme="1"] {
  background: #edeef0
}

[data-theme="1"] h1,
[data-theme="1"] h2,
[data-theme="1"] h3,
[data-theme="1"] h4,
[data-theme="1"] h5 {
  color: #0a2240
}

[data-theme="2"],
[data-theme="2"] h1,
[data-theme="2"] h2,
[data-theme="2"] h3,
[data-theme="2"] h4,
[data-theme="2"] h5,
[data-theme="2"] p,
[data-theme="2"] span {
  color: #fff
}

[data-theme="2"] .text-link__link {
  color: #acdaff
}

.button,
button {
  cursor: pointer
}

.button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  padding: 12px 28px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 400;
  font-family: gibson-semibold, Arial, sans-serif;
  line-height: 1;
  text-align: center;
  border: 0
}

.button:focus {
  outline: 0
}

.button--red,
.button__red {
  background: #d22d27;
  color: #fff
}

.button--red:focus,
.button--red:hover,
.button__red:focus,
.button__red:hover {
  background-color: #af0809;
  color: #fff;
  text-decoration: none
}

.button--red {
  background: #d32d27
}

.button--jumbo,
.button__jumbo {
  min-height: 50px;
  padding: 14px 34px;
  font-size: 22px
}

@media only screen and (max-width:480px) {
  .button {
    padding: 11px 24px;
    font-size: 16px
  }
  .button__jumbo {
    min-height: auto;
    padding: 15px 28px;
    font-size: 18px
  }
}

@font-face {
  font-family: gibson-regular;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/gibson-regular-webfont.woff) format("woff")
}

@font-face {
  font-family: gibson-italic;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/gibson-italic-webfont.woff) format("woff")
}

@font-face {
  font-family: gibson-light;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/gibson-light-webfont.woff) format("woff")
}

@font-face {
  font-family: gibson-semibold;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/gibson-semibold-webfont.woff) format("woff")
}

@font-face {
  font-family: gibson-bold;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/gibson-bold-webfont.woff) format("woff")
}

@font-face {
  font-family: gibson-semibold-italic;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/gibson-semibolditalic-webfont.woff) format("woff")
}

@font-face {
  font-family: gibson-bold-italic;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/gibson-bolditalic-webfont.woff) format("woff")
}

button,
input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  color: #282828;
  font-family: gibson-regular, Arial, sans-serif;
  font-size: 16px;
  outline: 0;
}

label {
  display: block
}

input {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  background-color: #fff
}

@media (max-width:991px) {
  input {
    max-width: 100%
  }
}

[type=text] {
  height: 40px
}

[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

input[type=number],
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none
}

input:focus {
  border-color: #3b99fc;
  background-color: #fff;
  outline-color: #3b99fc;
  outline-style: auto;
  outline-width: 5px
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, .5)
}

.popup,
.popup__inner {
  opacity: 0;
  width: 100%;
  height: 100%
}

.popup__inner {
  position: absolute;
  top: 50%
}

.popup__alert {
  position: relative;
  z-index: 1;
  padding: 10px;
  background-color: #5ed98a;
  text-align: center
}

.popup__alert p {
  margin: 0;
  color: #fff;
  font-size: 1.22222rem
}

.popup__content-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%
}

.popup__content-copy h2,
.popup__content-copy p {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5)
}

.popup__content-copy h2 {
  font-size: 1.55556rem
}

.popup__content-copy p {
  font-size: 1rem
}

.popup__content-copy-inner {
  padding: 38px
}

@media only screen and (min-width:850px) {
  .popup__inner {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    position: relative;
    top: 50%;
    width: 90%;
    max-width: 860px;
    height: auto;
    margin: 0 auto;
    border: 0!important;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
  }
  .popup__content {
    display: block;
    position: relative
  }
  .popup__content-copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 50%;
    min-height: 460px
  }
  .popup__content-copy h2 {
    color: #0a2240;
    text-shadow: none
  }
  .popup__content-copy p {
    color: #333f48;
    text-shadow: none
  }
}

@media (max-width:991px) {
  .form-content {
    width: 100%
  }
}

::-webkit-input-placeholder {
  opacity: 1
}

::-moz-placeholder {
  opacity: 1
}

::-ms-input-placeholder {
  opacity: 1
}

::placeholder {
  opacity: 1
}

.b2b {
  -webkit-font-smoothing: antialiased
}

.b2b h2 {
  margin-bottom: .3em;
  color: #506175;
  font-size: 2.25em
}

.b2b h3 {
  color: #3c4a54;
  font-size: 22px;
  line-height: 30px
}

@media only screen and (max-width:768px) {
  .row {
    display: block
  }
}

@media (min-width:768px) {
  @supports (display: grid) {
    .pricing-table .toggle {
      width:100%;
      margin-left: 0
    }
  }
}

.page-password-generator {
  padding-top: 0px;
}

.page-password-generator .intro {
  padding-bottom: 20px;
  padding-top: 56px
}

.pg {
  padding: 0 10px 40px;
  background-color: #f9fbfd;
  overflow: hidden
}

.pg-generated-password {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 800px;
  margin: 0 auto 10px;
  padding: 20px 16px;
  border-top: 1px;
  border-right: 1px;
  border-bottom: 0;
  border-left: 1px;
  border-style: solid;
  border-color: #eaeaea
}

.pg-tooltip-content {
  display: none;
  position: absolute;
  top: -8px;
  left: 125%;
  z-index: 10;
  width: auto;
  height: auto;
  padding: 10px;
  border: 1px solid #d6dbdb;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .25);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .25);
  margin: 0;
  color: #333f48;
  font-size: .77778rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  font-family: gibson-regular, Arial, sans-serif;
  opacity: 1 !important;
}

.custom-range__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%
}

.custom-range__number {
  margin-right: 20px
}

.custom-range__number:focus {
  border: 2px solid #00a3e0;
  outline: 0
}

.custom-range {
  margin-top: 5px
}

.pg .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.pg-generated-password__input {
  height: 38px;
  border: 0;
  color: #0a2240;
  font-family: monospace;
  font-size: 1.55556rem;
  text-align: left;
  -webkit-box-shadow: none;
  box-shadow: none
}

.pg-generated-password__input:focus {
  outline: 0
}

.pg-generated-password__icon-wrapper {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 68px;
  height: 48px;
  padding: 4px 0
}

.pg-generated-password__icon-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 92px;
  z-index: 1;
  width: 30px;
  height: 88%;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, 0)), to(#fff));
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, #fff)
}

.pg-generated-password__icon {
  display: inline-block;
  width: 32px;
  height: 31px;
  border: 0;
  position: relative;
  background-color: #fff;
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: transparent
}

.pg-generated-password__icon:focus {
  outline: 0
}

.pg-generated-password__icon-copy {
  background-image: url(../img/img-icon-copy-3x.png);
  background-size: 24px
}

.pg-generated-password__icon-generate {
  background-image: url(../img/icon-generate-new.svg)
}

.pg-generated-password__icon .pg-tooltip-content {
  width: auto
}

.pg-generated-password__strength-wrapper {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 11px;
  background-color: #f5f5f5;
  overflow: hidden;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: background-color .63s;
  transition: background-color .63s
}

.pg-generated-password__strength {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 0;
  height: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #5ed98a;
  -webkit-transition: width .63s, background-color .2s;
  transition: width .63s, background-color .2s
}

.pg-settings {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  max-width: 800px;
  margin: 0 auto 15px;
  padding: 25px
}

.pg-settings__title {
  margin-bottom: 26px;
  border-bottom: 2px solid #edeef0;
  line-height: 2.7rem
}

.pg-settings__radio-wrap {
  width: 60%;
  max-width: 250px
}

.pg-settings__checkbox-wrap {
  width: 40%;
  max-width: 250px;
  padding-left: 10px
}

#GENERATED-PASSWORD-FORM {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.pg-copy-password {
  text-align: center
}

.pg-copy-password__button {
  margin: 16px
}

@media only screen and (min-width:700px) {
  .pg-settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 30px 40px
  }
  .pg-settings label {
    font-size: 1rem
  }
  .pg-generated-password {
    height: 115px;
    padding: 34px;
    margin: 0 auto 20px
  }
  .pg-generated-password .row {
    display: block
  }
  .pg-generated-password__input {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 50px;
    padding-right: 108px;
    padding-left: 44px;
    border: 0;
    color: #0a2240;
    font-size: 2rem;
    text-align: left;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
  }
  .pg-generated-password__icon-copy {
    margin-right: 8px
  }
  .pg-generated-password__icon-wrapper {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 76px;
    height: 32px;
    padding: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
  }
  .pg-generated-password__icon-wrapper:after {
    top: -10%;
    right: 77px;
    width: 20px;
    height: 120%;
    pointer-events: none
  }
  .pg-settings__checkbox-wrap {
    padding-left: 20px
  }
  .pg-settings__title {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    font-size: 1.55556rem
  }
  .custom-range__wrapper {
    display: block;
    width: 50%;
    padding-right: 40px
  }
  .custom-range__wrapper+.row {
    width: 50%
  }
  .custom-range__wrapper .custom-range__number {
    height: 50px
  }
  .custom-range {
    margin-top: 0px;
  }
}

@media only screen and (max-width:700px) {
  .pg-generated-password__icon .pg-tooltip-content {
    opacity: 0
  }
}

.security .content .row {
  width: 97.22222%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.security .content .row {
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%
}

h2+h4 {
  margin: 0 0 25px;
  font-family: gibson-regular, Arial, sans-serif;
  font-weight: 400
}

@media (max-width:991px) {
  h2+h4 {
    margin: 0
  }
}

.features,
.security {
  padding-top: 19px;
  padding-bottom: 20px
}

.security .row {
  display: table-row
}

.device {
  position: relative;
  top: -45px
}

.a-icon {
  height: 43px
}

@media (max-width:767px) {
  .a-icon {
    width: auto!important;
    height: 43px;
    margin: 5px 0
  }
}

.security-row {
  width: 88.88889%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  position: relative;
  margin: 25px 0
}

.security-row:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -12px;
  z-index: 10;
  width: 20px;
  height: 20px;
  margin: auto;
  border-radius: 50%;
  background: #d22d27
}

@media (max-width:991px) {
  .security-row:before {
    left: -28px;
    width: 0;
    height: 0
  }
}

.security-row:first-child:after,
.security-row:last-child:after {
  content: "";
  position: absolute;
  left: -12px;
  z-index: 5;
  width: 20px;
  height: 130px;
  background: #f5f7f8
}

.security-row:first-child:after {
  top: -25px
}

.security-row:last-child:after {
  bottom: -25px
}

@media (max-width:991px) {
  .security-row {
    width: 97.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%
  }
  .security-row:first-child:after,
  .security-row:last-child:after {
    left: -23px
  }
}

.security-copy {
  width: 63.88889%
}

.security-copy {
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%
}

@media (max-width:991px) {
  .security-copy {
    width: 97.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
    text-align: center
  }
  .security-copy {
    padding-right: 15%;
    padding-left: 15%;
    text-align: left
  }
}

@media (max-width:767px) {
  .security-copy {
    padding-right: 0;
    padding-left: 0;
    text-align: center
  }
}

@media (min-width:1400px) {
  .security-row h3 {
    font-size: 1.77778rem
  }
}

[class*=purchase-success__note] {
  background: rgba(52, 152, 219, .05);
  border: 1px solid #3498db;
  border-radius: 5px
}

[class*=purchase-success__note]:first-of-type {
  margin-bottom: 20px
}

[class*=purchase-success__note]:nth-of-type(2) {
  margin-bottom: 30px
}

[class*=purchase-success__note] span {
  font-weight: 700
}

[class*=purchase-success__note] p {
  margin: 0;
  padding: 25px
}

@-webkit-keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(400px);
    transform: translateZ(-1400px) translateY(400px);
    opacity: 0
  }
  to {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1
  }
}

@keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(400px);
    transform: translateZ(-1400px) translateY(400px);
    opacity: 0
  }
  to {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1
  }
}

[class*=cybersecurity-unlocked-] .intro__copy h3 {
  width: 100%
}

.alert {
  z-index: 2;
  background-color: #369eed;
  padding: 13px 0;
  position: relative
}

.alert p {
  color: #fff
}

.alert p {
  width: auto;
  margin: 0 15px 0 0;
  font-size: 1rem;
  text-align: center
}

@supports (display:grid) {
  .apps-grid__item {
    margin: 0
  }
}

@supports (-ms-ime-align:auto) {
  .bar-graph--ie {
    display: block;
    position: relative
  }
  .bar-graph--ie div:nth-child(odd) {
    color: #868a8d;
    font-size: .88889rem;
    font-weight: 600;
    z-index: 1;
    position: relative;
    width: 87%;
    height: 25px;
    padding: 0;
    border-radius: 13px;
    background-color: #f6f7f8;
    text-indent: 15px
  }
  .bar-graph--ie div:nth-child(odd):not(:last-of-type) {
    margin: 0 0 20px
  }
  .bar-graph--ie div:nth-child(odd):after {
    content: attr(data-value);
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    color: #868a8d;
    font-size: .88889rem;
    font-weight: 600;
    -webkit-transform: translate(150%, -50%);
    transform: translate(150%, -50%)
  }
  .bar-graph--ie div:nth-child(2n) {
    z-index: 2;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    color: #fff;
    border-radius: 13px;
    background-image: -webkit-gradient(linear, left top, right top, from(#f59d00), color-stop(25%, #d6d12e), color-stop(50%, #c0c857), color-stop(75%, #9cca69), to(#76cd95));
    background-image: linear-gradient(90deg, #f59d00, #d6d12e 25%, #c0c857 50%, #9cca69 75%, #76cd95);
    overflow: hidden;
    text-indent: 15px;
    white-space: nowrap
  }
  .bar-graph--ie+svg {
    display: none
  }
}

.basic-hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 535px;
  background-color: #0a2240;
  -webkit-transition: height .8s;
  transition: height .8s
}

.basic-hero {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover
}

.basic-hero__content {
  position: relative;
  padding: 55px 33px 0;
  text-align: center
}

.basic-hero__content h1 {
  color: #fff
}

.basic-hero__content h2,
.basic-hero__content h3 {
  font: 400 1.22222rem gibson-regular
}

.basic-hero__content h3 {
  max-width: 880px;
  margin: 0 auto;
  color: #fff
}

.basic-hero__content .button {
  margin: 0 10px 20px
}

@media only screen and (max-width:768px) {
  .basic-hero__content {
    padding: 55px 10px 0
  }
  .basic-hero__content h3 {
    max-width: 675px
  }
  .basic-hero__content h1 {
    font-size: 2.625rem
  }
}

@media only screen and (max-width:480px) {
  .basic-hero__content h3 {
    margin-bottom: 10px
  }
}

@media only screen and (min-width:992px) {
  .basic-hero__content h2,
  .basic-hero__content h3 {
    font-size: 1.77778rem
  }
}

@media only screen and (min-width:1400px) {
  .basic-hero__wrap {
    height: 700px
  }
}

[data-state=active] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-height: 250px;
  height: 100%
}

[data-state=expanded] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap
}

@-webkit-keyframes chip-fade-in {
  0% {
    opacity: 0;
    display: block;
    z-index: 5000
  }
  to {
    opacity: 1
  }
}

@keyframes chip-fade-in {
  0% {
    opacity: 0;
    display: block;
    z-index: 5000
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes chip-fade-out {
  0% {
    opacity: 1;
    display: block;
    z-index: 5000
  }
  99% {
    z-index: 1;
    display: block
  }
  to {
    opacity: 0;
    display: none;
    z-index: -1
  }
}

@keyframes chip-fade-out {
  0% {
    opacity: 1;
    display: block;
    z-index: 5000
  }
  99% {
    z-index: 1;
    display: block
  }
  to {
    opacity: 0;
    display: none;
    z-index: -1
  }
}

[data-collapsed=true] {
  opacity: 0
}

[data-collapsed=false] {
  opacity: 1
}

@media (min-width:767px) {
  @supports (display: grid) {
    .feature-links {
      width:100%;
      margin: 0
    }
    .feature-links__list {
      display: grid;
      grid-template: auto/1fr 1fr;
      grid-gap: 20px 55px
    }
    .feature-links li {
      justify-self: start;
      -ms-flex-item-align: start;
      align-self: start
    }
    .feature-links li:nth-of-type(odd) {
      margin-right: 0
    }
    .feature-links li:not(:last-of-type) {
      margin-bottom: inherit
    }
  }
}

.hero {
  padding: 110px 0 35px
}

.hero-content {
  -webkit-box-orient: vertical;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.hero-content h1 {
  margin: 0 0 25px;
  font: 2.88889rem Gibson-semibold;
  color: #000;
  text-align: center
}

.hero-content h1:after {
  content: ".";
  display: inline;
  color: #d22d27
}

.hero-content p {
  margin: 0 0 25px;
  font-size: 1.22222rem;
  color: #2c2a29;
  text-align: center
}

@media (min-width:768px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }
  .hero-content {
    width: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  .hero-content h1,
  .hero-content p {
    width: 90%;
    text-align: left
  }
}

@media (min-width:992px) {
  .hero__intro {
    margin: 0 50px 0 8vw
  }
  .hero__intro h1 {
    font-size: 3.44444rem
  }
  .hero__intro p {
    font-size: 1.55556rem
  }
}

input {
  height: 50px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .25);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .25)
}

input::-webkit-input-placeholder {
  color: #565656;
  font-size: 1rem
}

input::-moz-placeholder {
  color: #565656;
  font-size: 1rem
}

input::-ms-input-placeholder {
  color: #565656;
  font-size: 1rem
}

input::placeholder {
  color: #565656;
  font-size: 1rem
}

@media (min-width:1400px) {
  input::-webkit-input-placeholder {
    font-size: 1.22222rem
  }
  input::-moz-placeholder {
    font-size: 1.22222rem
  }
  input::-ms-input-placeholder {
    font-size: 1.22222rem
  }
  input::placeholder {
    font-size: 1.22222rem
  }
}

.intro {
  position: relative;
  padding: 55px 0;
  background-color: #f9fbfd;
  text-align: center
}

.intro a {
  margin-top: 25px
}

.intro h1 {
  margin: 8px 0 0;
  font-size: 2rem;
  text-align: center
}

.intro__copy h3,
.intro__copy h4 {
  margin: 8px auto 0;
  font-family: gibson-regular;
  font-weight: 400
}

.intro__copy h3 {
  width: 90%;
  line-height: 1.25;
  color: #2c2a29
}

@media (min-width:600px) {
  .intro__copy h3 {
    width: 80%;
    max-width: 880px
  }
}

@media (min-width:992px) {
  .intro__copy h3 {
    font-size: 1.22222rem
  }
}

@media (min-width:1200px) {
  .intro h1 {
    font-size: 2.66667rem
  }
}

@media (min-width:1400px) {
  .intro__copy h4 {
    font-size: 1.22222rem
  }
}

[data-role=modal-open] {
  cursor: pointer
}

@media (min-width:768px) {
  @supports (display: grid) {
    .pricing-table__ctas {
      width:100%;
      margin-left: 0
    }
  }
}

.text-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.text-link__info {
  font-size: 1rem;
  color: #565656;
  text-align: center
}

.text-link__link {
  color: #0077d9;
  font-family: gibson-semibold, Arial, sans-serif
}

.text-link__icon {
  margin-top: -3px;
  padding: 0 2px
}

.text-link__info+.text-link__icon,
.text-link__link+.text-link__icon {
  margin: -1px 0 0 6px
}

.text-link__info+.text-link__link {
  margin: 0 0 0 4px
}

@media (max-width:480px) {
  .text-link {
    display: inline-block;
    text-align: center
  }
  .text-link__info+.text-link__link {
    display: block;
    margin: 4px 0 0
  }
}

.tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  width: 80%;
  max-width: 350px;
  height: auto;
  padding: 25px;
  border: 1px solid #d6dbdb;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .25);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .25);
  -webkit-transition: all .2s;
  transition: all .2s
}

.tooltip h4 {
  font-size: 18px;
  line-height: 1.33
}

.tooltip h4,
.tooltip p {
  color: #2c2a29;
  text-align: left;
  pointer-events: none
}

.tooltip p {
  font-size: 14px;
  line-height: 1.64
}

@media (min-width:768px) {
  .tooltip {
    left: 0
  }
}

[data-popper-placement]:before {
  position: absolute;
  border-style: solid;
  border-width: .4rem;
  content: "";
  -webkit-transition: opacity .2s;
  transition: opacity .2s
}

[data-popper-placement^=right]:before {
  border-color: transparent #1b283c transparent transparent;
  top: 50%;
  right: 100%;
  margin-top: -.4rem;
  margin-left: 29px
}

[data-popper-placement^=top]:before {
  border-color: #1b283c transparent transparent;
  bottom: -14px;
  left: 50%;
  margin-left: -.4rem
}

[data-popper-placement^=bottom]:before {
  border-color: transparent transparent #1b283c;
  top: -14px;
  left: 50%;
  margin-left: -.4rem
}

[data-popper-placement^=left]:before {
  border-color: transparent transparent transparent #1b283c;
  top: 50%;
  left: 100%;
  margin-top: -.4rem
}

@keyframes generate-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.generate-spin {
  animation: generate-spin 0.4s;
}


.range-input {
  border: none;
  box-shadow: none;
  margin: 0;
}

.progress {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 1rem;
	overflow: hidden;
	font-size: .75rem;
	background-color: #e9ecef;
	/* border-radius: .25rem */
}

.progress-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
	text-align: center;
	background-color: #007bff;
	transition: width .6s ease
}

.toast-font-size-15 {
  font-size: 15px;
}

[data-anim-type=fade-up] {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px)
}

[data-anim-type=fade-up][data-anim=animate] {
  -webkit-animation-name: slide-in-bottom;
  animation-name: slide-in-bottom;
  -webkit-animation-timing-function: cubic-bezier(.4, 0, .2, 1);
  animation-timing-function: cubic-bezier(.4, 0, .2, 1);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

[data-anim-duration="400ms"][data-anim=animate] {
  -webkit-animation-duration: .4s;
  animation-duration: .4s
}

[data-anim-delay="100ms"][data-anim=animate] {
  -webkit-animation-delay: .1s;
  animation-delay: .1s
}

[data-anim-delay="200ms"][data-anim=animate] {
  -webkit-animation-delay: .2s;
  animation-delay: .2s
}

[data-anim-delay="300ms"][data-anim=animate] {
  -webkit-animation-delay: .3s;
  animation-delay: .3s
}

[data-anim-delay="400ms"][data-anim=animate] {
  -webkit-animation-delay: .4s;
  animation-delay: .4s
}

[data-anim-delay="600ms"][data-anim=animate] {
  -webkit-animation-delay: .6s;
  animation-delay: .6s
}

[data-anim-delay="800ms"][data-anim=animate] {
  -webkit-animation-delay: .8s;
  animation-delay: .8s
}

[data-anim-delay="1000ms"][data-anim=animate] {
  -webkit-animation-delay: 1s;
  animation-delay: 1s
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
    max-height: 2000px
  }
  to {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
    max-height: 0;
    padding: 0
  }
}

@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
    max-height: 2000px
  }
  to {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
    max-height: 0;
    padding: 0
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100%);
    transform: translate(-100%)
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100%);
    transform: translate(-100%)
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0)
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-100%);
    transform: translate(-100%)
  }
}

@keyframes slide-out-left {
  0% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0)
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-100%);
    transform: translate(-100%)
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

@-webkit-keyframes expand {
  0% {
    opacity: 0;
    max-height: 0
  }
  to {
    opacity: 1;
    max-height: 100%
  }
}

@keyframes expand {
  0% {
    opacity: 0;
    max-height: 0
  }
  to {
    opacity: 1;
    max-height: 100%
  }
}

@-webkit-keyframes contract {
  0% {
    opacity: 1;
    max-height: 100%
  }
  to {
    opacity: 0;
    max-height: 0
  }
}

@keyframes contract {
  0% {
    opacity: 1;
    max-height: 100%
  }
  to {
    opacity: 0;
    max-height: 0
  }
}

@-webkit-keyframes show-dropdown {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -10px) scale(.95);
    transform: translate(-50%, -10px) scale(.95)
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, 1px) scale(1);
    transform: translate(-50%, 1px) scale(1)
  }
}

@keyframes show-dropdown {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -10px) scale(.95);
    transform: translate(-50%, -10px) scale(.95)
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, 1px) scale(1);
    transform: translate(-50%, 1px) scale(1)
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1
  }
  24% {
    opacity: 1
  }
  40% {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  65% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  93% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1
  }
  24% {
    opacity: 1
  }
  40% {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  65% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  93% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }
}

@-webkit-keyframes bounce-2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1
  }
  24% {
    opacity: 1
  }
  40% {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  65% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  93% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }
}

@keyframes bounce-2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1
  }
  24% {
    opacity: 1
  }
  40% {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  65% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  93% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
    -webkit-transform-origin: 50%;
    transform-origin: 50%
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
    -webkit-transform-origin: 50%;
    transform-origin: 50%
  }
}

@-webkit-keyframes size {
  0% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 970
  }
  to {
    stroke-dasharray: 980;
    stroke-dashoffset: 980
  }
}

@keyframes size {
  0% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 970
  }
  to {
    stroke-dasharray: 980;
    stroke-dashoffset: 980
  }
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  to {
    background-position: 468px 0
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  to {
    background-position: 468px 0
  }
}

@-webkit-keyframes expandFromRight {
  0% {
    -webkit-transform: translateX(55%) scale(.3) scaleX(.5);
    transform: translateX(55%) scale(.3) scaleX(.5)
  }
  60% {
    -webkit-transform: translateX(-15%) scaleX(1.12);
    transform: translateX(-15%) scaleX(1.12)
  }
  75% {
    -webkit-transform: translateX(3%);
    transform: translateX(3%)
  }
  to {
    -webkit-transform: translateX(0) scale(1) scaleX(1);
    transform: translateX(0) scale(1) scaleX(1)
  }
}

@keyframes expandFromRight {
  0% {
    -webkit-transform: translateX(55%) scale(.3) scaleX(.5);
    transform: translateX(55%) scale(.3) scaleX(.5)
  }
  60% {
    -webkit-transform: translateX(-15%) scaleX(1.12);
    transform: translateX(-15%) scaleX(1.12)
  }
  75% {
    -webkit-transform: translateX(3%);
    transform: translateX(3%)
  }
  to {
    -webkit-transform: translateX(0) scale(1) scaleX(1);
    transform: translateX(0) scale(1) scaleX(1)
  }
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #EAEAEA;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  border: 0px solid #000000;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background: #D22D27;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}

input[type=range]::-webkit-slider-thumb:hover {
  background-color: #e2362f;
  box-shadow: 0 0 6px 0 #fd423b;;
  -webkit-box-shadow: 0 0 6px 0 #fd423b;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #EAEAEA;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #EAEAEA;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  border: 0px solid #000000;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background: #D22D27;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb:hover {
  /* box-shadow: 0 0 10px #D22D27; */
  background-color: #e2362f;
  box-shadow: 0 0 6px 0 #fd423b;
}
input[type=range]::-moz-range-progress {
  background: #D22D27;
  height: 8px;
  border-radius: 5px;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #D22D27;
  height: 8px;
  border-radius: 5px;
}
input[type=range]::-ms-fill-upper {
  background: #EAEAEA;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  border: 0px solid #000000;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background: #D22D27;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #D22D27;
  height: 8px;
  border-radius: 5px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #EAEAEA;
}
